
  .cart-top {
      margin-top: 90px;
      margin-bottom: 15px;
      height: 12px;
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      &__name {
          
          p {
            font-size: 13px;
            line-height: 20px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: -0.015em;
            color: #222222;
          }
      }
      &__name:first-of-type {
        margin-right: auto;
      }
  }
  
  .cart-width {
    width: 120px;
    text-align: center;
  }

  .cart-element {
      height: 167px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid #fafafa;
      &__info {
          display: flex;
          margin-right: auto;
          > img[alt="miniproduct"] {
            float: left;
            margin-right: 20px;
            }
          > div {
              padding-top: 10px;
              > a {
                font-size: 13px;
                line-height: 1.2;
                font-weight: 400;
                text-transform: uppercase;
                color: #222222;
                margin-bottom: 38px;
              }
              > p:first-of-type {
                  padding-top: 38px;
              }
              > p {
                font-size: 13px;
                line-height: 20px;
                font-weight: 400;
                color: #575757;
              }
              > span {
                font-size: 13px;
                font-weight: 300;
                color: #6f6e6e;
              }
          }
      }
     
      & input[type="number"] {
        width: 54px;
        height: 30px;
        border: 1px solid #eaeaea;
        text-align: center;
    }
  }
      
 .cart-finish {
    display: flex;
    justify-content: space-between;
    margin-top: 43px;
    & a {
      font-size: 14px;
      line-height: 1.2;
      font-weight: 700;
      text-transform: uppercase;
      color: #4a4a4a;
      padding: 20px 38px;
      border: 1px solid #eaeaea;
      &:hover {
        background-color: $mainColor;
      }
    }
  }

 .cart-form {
   margin-top: 81px;
   max-height: 330px;
   display: flex;
  justify-content: space-between;
  & form {
    width: 30%;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    & h4 {
      font-size: 16px;
      line-height: 1.2;
      font-weight: 700;
      text-transform: uppercase;
      color: #222222;
    }
    & p {
      font-size: 14px;
      line-height: 1.2;
      font-weight: 300;
      color: #000000;
    }
    > input[type="text"] {
      font-size: 13px;
      line-height: 1.2;
      font-weight: 300;
      height: 45px;
      outline: none;
      overflow: hidden;
      padding-left: 18px;
      border: 1px solid #eaeaea;
   }
   > input[type="submit"] {
     height: 45px;
    font-size: 11px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #4a4a4a;
    padding-left: 18px;
    padding-right: 18px;
    width: fit-content;
    border: 1px solid #eaeaea;
    &:hover {
      cursor: pointer;
    }
   }
    & select {
      width: 100%;
      height: 45px;
      font-size: 13px;
      line-height: 1.2;
      font-weight: 300;
      padding-left: 18px;
      border: 1px solid #eaeaea;
    }
  }
  > #coupon {
    height: 185px;
    width: 30%;
  }
  > #total {
    background-color: #f5f3f3;
    width: 30%;
    height: 214px;
    text-align: right;
    padding: 41px;
    box-sizing: border-box;
    > p {
      font-size: 11px;
      line-height: 1.2;
      font-weight: 400;
      text-transform: uppercase;
      color: #4a4a4a;
    }
    > h4 {
      font-size: 16px;
      line-height: 1.2;
      font-weight: 700;
      text-transform: uppercase;
      color: #222222;
      > span {
        color: $mainColor;
      }
    }
    > input[type="submit"] {
      width: 100%;
      height: 50px;
      font-size: 16px;
      line-height: 1.2;
      font-weight: 700;
      text-transform: uppercase;
      background-color: $mainColor;
      color: #ffffff;
    }
  }
 }