<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Brand index</title>
    
</head>

<body>
<div id="app">
    <div class="header container">
		<div class="header-left">
            <a href="index.html" class="logo">
                <img src="img/logo.png" alt="logo" class="logo__img">
                <div class="logo__name">Bran<span>d</span></div>
            </a>
        
        <form class="search" method="get">
			<div class="search__browse">Browse <i class="fas fa-caret-down"></i></div>
			<search v-on:search="filteredGoods"></search>
        </form>
        </div>

		<div class="header-right">
			<div class="cart">
				<label id="cartt">
				  <input type="checkbox" name="cart" class="input">
				  <img src="img/cart.png" alt="cart" />
				  <span id="countLength">{{ cart.length }}</span>
				  <div class="cart__menu">
					<div class="cart__menu-block">
					<!-- cartBasket -->
					
					  <h4 v-if="cart.length === 0">Корзина пуста</h4>
					  <div v-else class="cart__menu_items" v-for="(el, id) in cart" :key="id">
						  
						
						  <img :src="el.img" alt="carts" />
						  <div class="cart__menu_items-content">
							<h2>{{ el.title }}</h2>
							
							<p>1 x $ {{el.Price}}</p>
						  </div>
						  <span v-on:click="deleteItem(id)">
							<i class="fas fa-times-circle"></i>
						  </span>
						
					  </div>
				   
				  </div>
					<div class="cart__menu-cent">
					  <h2>TOTAL</h2>
					  <span class="cart__menu-price" id="cartCent">{{ summCart }}</span>
					</div>
					<button class="cart__menu-btn">Checkout</button>
					<button class="cart__menu-btn">Go to cart</button>
				  </div>
				</label>
			  </div>

			<div class="my-account"><a href="#">My Account <i class="fas fa-caret-down"></i></a></div>
		</div>
    </div>

    <div class="header-line"></div>

    <div class="top-nav">
		<input type="checkbox" id="menu-header-checkbox">
		<label for="menu-header-checkbox">ПОЯВИСЬ! {burgermenu}</label>
        <ul class="menu-list">
            <li class="menu-item"><a href="#" class="menu-link">Home</a></li>
            <li class="menu-item"><a href="#" class="menu-link">Man</a></li>
            <li class="menu-item"><a href="#" class="menu-link">Women</a></li>
            <li class="menu-item"><a href="#" class="menu-link">Kids</a></li>
            <li class="menu-item"><a href="#" class="menu-link">Accoseriese</a></li>
            <li class="menu-item"><a href="#" class="menu-link">Featured</a></li>
            <li class="menu-item"><a href="#" class="menu-link">Hot Deals</a></li>
        </ul>
    </div>

    <div class="slider">
        <div class="slider-content container">
            <p class="up">THE BRAND</p><br>
            <p class="down">OF LUXERIOUS <span>FASHION</span></p>
        </div>
    </div>

    <div class="offers container">
        <div class="offers__hotdeal">
            <p class="offers__text">Hot Deal<span><br>For Men</span></p><img src="img/offer1.jpg" alt="offer">
        </div>
        <div class="offers__hotdeal">
            <p class="offers__text">LUXIROUS &amp; trendy<span><br>ACCESORIES</span></p><img src="img/offer2.jpg" alt="offer">
        </div>
        <div class="offers__hotdeal">
            <p class="offers__text">30&#37; offer<span><br>women</span></p><img src="img/offer3.jpg" alt="offer">
        </div>
        <div class="offers__hotdeal">
            <p class="offers__text">new arrivals<span><br>FOR kids</span></p><img src="img/offer4.jpg" alt="offer">
        </div>
    </div>

	<div class="fetured container">

		<h2 class="fetured__h2">Fetured Items</h2>
		<p class="fetured__p">Shop for items based on what we featured in this week</p>

		<div class="fetured-items" id="aaa">
      
	  		<div class="item" v-for="(elem, i) in store" :id="i">
    			<img class="item__image" :src="elem.img" alt="item-image">
    			<div class="item__hover">
      				<div>
        				<img src="img/featured_cart.png" alt="cart">
        				<p :id="elem.id" v-on:click="addCart(elem)">Add to Cart</p>
      				</div>
    			</div>
    			<p class="item__title">{{ elem.title }}</p>
    			<p class="item__price">$ {{ elem.Price }}</p>
  			</div>
	  
		</div>
		<div class="fetured__button">
			<button>Browse All Product<i class="fas fa-long-arrow-alt-right"></i></button>
		</div>
  		
      </div>
      
      <div class="offer container">

        <div class="offer-image">
            <img src="img/offer.png" alt="shadow">
            <div class="offer-image-title">
                <h2 class="offer-image__h2">30% <span>Offer</span></h2>
                <p class="offer-image__p">For women</p>
            </div>
        </div>

        <div class="offer-info">
          <div class="offer-row">
            <img class="offer-info__image" src="img/car.png" alt="car">
            <div>
                <h3 class="offer-info__h3">Free Delivery</h3>
                <p class="offer-info__p">Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.</p>
            </div>
          </div>
          <div class="offer-row">
            <img class="offer-info__image" src="img/off.png" alt="off">
            <div>
                <h3 class="offer-info__h3">Sales & discounts</h3>
                <p class="offer-info__p">Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.</p>
            </div>
          </div>
          <div class="offer-row">
            <img class="offer-info__image" src="img/crown.png" alt="crown">
            <div>
                <h3 class="offer-info__h3">Quality assurance</h3>
                <p class="offer-info__p">Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.</p>
            </div>
          </div>
        </div>
        
    </div>
		
	<div class="subscribe">
		<div class="subscribe__content container">
			  <div class="subscribe__content__left">
				  <img src="img/feedback.jpg" alt="person">
					  <div class="left-text">
						  <p>“Vestibulum quis porttitor dui! Quisque viverra nunc mi, 
					  a pulvinar purus condimentum a. Aliquam condimentum mattis neque sed pretium”</p>
						  <p><span>Bin Burhan</span><br>
					  Dhaka, Bd</p>
						  <div class="feedback-carousel">
						  <div class="feedback-carousel__item"></div>
						  <div class="feedback-carousel__item"></div>
						  <div class="feedback-carousel__item"></div>
						  
						  </div>
					  </div>
			  </div>
			  <div class="subscribe__content__right">
				  <div class="right-text">
					  <h3>Subscribe</h3>
				  <p>FOR OUR NEWLETTER AND PROMOTION</p>
				  </div>
				  
				  <form class="getemail" method="get">
					  <input type="email" name="email" id="email" placeholder="Enter Your Email"><button class="subscribe-button">Subscribe</button>
				  </form>
			  </div>	
		  </div>
	</div>

	<div class="information container">
		<div class="information__logo">
		  <a class="logo" href="index.html">
			<img class="logo__image" src="img/logo.png" alt="logo">
			<div class="logo__name">Bran<span>d</span></div>
		  </a>
		  <p>
			Objectively transition extensive data rather than cross functional solutions.
			Monotonectally syndicate multidisciplinary materials before go forward benefits.
			Intrinsicly syndicate an expanded array of processes and cross-unit partnerships.
		  </p>
		  <p>
			Efficiently plagiarize 24/365 action items and focused infomediaries.
			Distinctively seize superior initiatives for wireless technologies. Dynamically optimize.
		  </p>
		  </div>
		  <div class="information__links">
			<input type="checkbox" id="menu-footer-checkbox1" class="menu-footer-input">
			<label for="menu-header-checkbox1"><h2>COMPANY</h2></label>
			<ul>
			  <li><a href="#">Home</a></li>
			  <li><a href="#">Shop</a></li>
			  <li><a href="#">About</a></li>
			  <li><a href="#">How It Works</a></li>
			  <li><a href="#">Contact</a></li>
			</ul>
		  </div>
		  <div class="information__links">
			<input type="checkbox" id="menu-footer-checkbox2" class="menu-footer-input">
			<label for="menu-header-checkbox2"><h2>INFORMATION</h2></label>
			<ul>
			  <li><a href="#">Tearms & Condition</a></li>
			  <li><a href="#">Privacy Policy</a></li>
			  <li><a href="#">How to Buy</a></li>
			  <li><a href="#">How to Sell</a></li>
			  <li><a href="#">Promotion</a></li>
			</ul>
		  </div>
		  <div class="information__links">
			<input type="checkbox" id="menu-footer-checkbox3" class="menu-footer-input">
			<label for="menu-header-checkbox3"><h2>SHOP CATEGORY</h2></label>
			<ul>
			  <li><a href="#">Men</a></li>
			  <li><a href="#">Women</a></li>
			  <li><a href="#">Child</a></li>
			  <li><a href="#">Apparel</a></li>
			  <li><a href="#">Brows All</a></li>
			</ul>
		  </div>
	
		</div>
	
		<div class="footer">
		  <div class="footer__content container">
			<p>© 2017  Brand  All Rights Reserved.</p>
			<div class="socials">
			  <div class="socials__link">
				<i class="fab fa-facebook-f"></i>
			  </div>
			  <div class="socials__link">
				<i class="fab fa-twitter"></i>
			  </div>
			  <div class="socials__link">
				<i class="fab fa-linkedin-in"></i>
			  </div>
			  <div class="socials__link">
				<i class="fab fa-pinterest-p"></i>
			  </div>
			  <div class="socials__link">
				<i class="fab fa-google-plus-g"></i>
			  </div>
			</div>
		  </div>
		</div>
</div>

  </body>
</html>